:root {
  --fungal: "Fungal", "Calibri", "Verdana", "Arial";
  --transition--hover: 0.25s ease-out;
  --transition--long: 0.75s ease-out;
  --transition--fast: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  --quarter-p1: calc((100vw / 4) - 1rem);
  --third-p1: calc((100vw / 3) - 1rem);

  --color--hover: hsl(0, 0%, 100%);
  --color--primary: rgb(26, 26, 26);
  --color--bg: hsl(0, 0%, 98%);
}

::selection {
  background-color: hsl(0, 0%, 85%);
}

body {
  font-family: var(--fungal);
  font-variation-settings: "THCK" 0, "grow" 0;

  background-color: hsl(0, 0%, 95%);

  scroll-snap-type: y mandatory;
}

.overflow--none {
  overflow: hidden !important;
}

i {
  transform: skewX(-16deg);
}

#loading-overlay {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;

  background-color: var(--color--bg);
  z-index: 1000;
  pointer-events: none;
  transition: opacity var(--transition--long);
}

#interview-close-btn {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  padding: 0.5rem;

  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);

  z-index: 999;
  cursor: pointer;
  mix-blend-mode: difference;

  transition: var(--transition--hover);
}

#interview-close-btn:hover {
  opacity: 0.25 !important;
  transform: translateY(-10%) !important;
}

#interview-close-btn.visible {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

#graph-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-variation-settings: "THCK" 0, "grow" 0 !important;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1001;
  transition: filter var(--transition--long), height var(--transition--fast);
}

#graph-overlay__graph {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.2rem;

  transition: all var(--transition--fast);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.graph-overlay__graph--loading {
  width: 10rem !important;
  height: 10rem !important;

  animation: spin 1500ms infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.graph-overlay__graph--loaded {
  animation: spin 1500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.graph-overlay__definition {
  position: absolute;

  color: #fff;
  text-align: center;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 0.4rem */
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  opacity: 0;

  transition: opacity var(--transition--long);
}

.definition--top {
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.definition--bot {
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

.definition--left {
  left: 0;
  top: 50%;
  transform: rotate(-90deg) translate(8%, -50%);
}

.definition--right {
  right: 0;
  top: 50%;
  transform: rotate(90deg) translate(-5%, -50%);
}

#scroll-circle {
  position: absolute;
  height: calc(100vh - 3.4rem);
  width: calc(100vh - 3.4rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 100%;
  border: #fff 0.0625rem solid;
}

.graph-overlay__graph__arrowhead--container-vertical {
  position: absolute;
  height: calc(100% - 2.4rem);
  width: calc(100% - 2.4rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.graph-overlay__graph__arrowhead--container-horizontal {
  position: absolute;
  width: calc(100% - 2.4rem);
  height: calc(100% - 2.4rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap;
}

.graph-overlay__graph__line--vertical {
  position: absolute;
  width: 0.0625rem;
  height: calc(100% - 2.4rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
}

.graph-overlay__graph__line--horizontal {
  position: absolute;
  height: 0.0625rem;
  width: calc(100% - 2.4rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
}

main {
  scroll-snap-type: y mandatory;
}

.title {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}

.title__hgroup {
  display: flex;

  flex-flow: column nowrap;
}

.title__hgroup__header {
  color: var(--color--primary);
  text-align: center;
  font-size: clamp(1rem, 21vw, 18.75rem);
  font-size: clamp(1rem, 21vw, 20rem);
  font-style: normal;
  font-weight: 400;
  line-height: 75%;
  /* letter-spacing: -1.3125rem; */
  letter-spacing: -0.07em;
  text-transform: uppercase;
}

.title__hgroup__header--interview {
  color: var(--color--primary);
  text-align: center;
  font-size: clamp(1rem, 10.5vw, 10rem);
  font-style: normal;
  font-weight: 400;
  line-height: 75%;
  /* letter-spacing: -1.3125rem; */
  letter-spacing: -0.07em;
  text-transform: uppercase;

  cursor: pointer;
  transition: color var(--transition--hover), transform var(--transition--hover);
}

.title__hgroup__header--interview:hover {
  color: var(--color--hover);
  transform: translateY(-7%);
}

.title__hgroup__subheader {
  color: var(--color--primary);

  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.0225rem;
  font-variation-settings: "THCK" 0, "grow" 0 !important;

  z-index: 100;
}

.interview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  /* opacity: 0; */
  transform: translateY(-100%);
  /* visibility: hidden; */

  /* display: none; */
  flex-flow: column nowrap;

  background-color: var(--color--bg);
  backdrop-filter: blur(10px) brightness(0.5) contrast(1000);

  z-index: 500;
  overflow: scroll;

  transition: opacity var(--transition--fast), transform var(--transition--fast);
}

.interview.visible {
  /* display: flex; */
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.interview--wrapper {
  display: none;
}

.interview__segment {
  position: relative;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, var(--third-p1));
  gap: 1rem;
}

.interview__segment::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;

  width: 100%;
  height: 0.0625rem;

  background-color: var(--color--primary);
}

.interview__segment:last-of-type::after {
  height: 0;

  background-color: transparent;
}

.interview__segment__column[data-person="jh"] {
  grid-column-start: 1;
}

.interview__segment__column[data-person="?"] {
  grid-column-start: 3;
  padding-right: 1rem;
}

.interview__segment__column[data-person="je"] {
  grid-column-start: 2;
}

.interview__segment__column[data-person="er"] {
  grid-column-start: 3;
  padding-right: 1rem;
}

.interview__segment__column[data-person="msb"] {
  grid-column-start: 2;
}

.interview__segment__column[data-person="rb"] {
  grid-column-start: 2;
}

.interview__segment__column[data-person="qj"] {
  grid-column-start: 3;
  padding-right: 1rem;
}

.interview__segment__column__p {
  /* min-width: 45ch; */
  max-width: 60ch;
  margin: 0 0 0.9rem 2.5rem;

  color: var(--color--primary);
  font-size: 0.75rem;
  font-style: normal;
  line-height: 120%; /* 0.9rem */
  letter-spacing: 0.0225rem;
  /* hyphens: auto; */
  hyphenate-limit-chars: 7 3 3;
}

.column__p__link {
  color: hsl(0, 0%, 60%);
  text-decoration: underline;
  transition: all var(--transition--hover);
}

.column__p__link:hover {
  color: hsl(0, 0%, 90%);
}
.interview__segment__column__p:first-child::before {
  position: absolute;
  content: "ER";
  margin-left: -2.5rem;
  margin-top: -0.2rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;

  color: var(--color--primary);
  font-family: "Georgia";
  font-size: 0.78125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 0.9375rem */
  letter-spacing: -0.03906rem;
  text-transform: uppercase;

  background-color: transparent;
  border: black solid 0.0625rem;
  border-radius: 100%;
}

.interview__segment__column[data-person="jh"]
  .interview__segment__column__p:first-child::before {
  content: "JH";
}

.interview__segment__column[data-person="?"]
  .interview__segment__column__p:first-child::before {
  content: "???";
}

.interview__segment__column[data-person="je"]
  .interview__segment__column__p:first-child::before {
  content: "JE";
}

.interview__segment__column[data-person="er"]
  .interview__segment__column__p:first-child::before {
  content: "ER";
}

.interview__segment__column[data-person="msb"]
  .interview__segment__column__p:first-child::before {
  content: "MSB";
}

.interview__segment__column[data-person="rb"]
  .interview__segment__column__p:first-child::before {
  content: "rb";
}

.interview__segment__column[data-person="qj"]
  .interview__segment__column__p:first-child::before {
  content: "QJ";
}

.interview__segment__column__p:last-child {
  margin-bottom: 0;
}

.p--float-space {
  width: 2rem;
  height: 2rem;
  shape-outside: circle(50%);

  opacity: 0;
  background-color: rgb(255, 255, 255);

  /* transition: all var(--transition--long); */
}

.interview__segment__column__img--container {
  position: relative;
  max-width: 50%;
  max-height: 20vh;
  margin: 1.8rem;

  shape-outside: circle(50%);
  float: inline-end;
  /* transform: translateX(50%); */

  transition: all var(--transition--fast);
  z-index: 500;
}

.interview__segment__column__img--container[data-float="left"] {
  float: inline-start !important;
  margin-right: 2.7rem;
  margin-left: 0rem;
  transform-origin: right top;
}

.interview__segment__column__img--container[data-float="right"] {
  float: inline-end !important;
  margin-left: 2.7rem;
  margin-right: 0rem;
  transform-origin: left top;
}

.interview__segment__column__img {
  position: relative;
  width: 100%;
  max-height: 20vh;
  object-fit: contain;

  filter: invert(1);
  transform: none !important;

  transition: all var(--transition--fast);
  image-rendering: pixelated;
  /* cursor: pointer; */
}

.interview__segment__column__img--container:hover {
  transform: rotate(0) scale(3) !important;
  /* margin-left: 0; */
  z-index: 501;
}

.column__img__dot {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color--primary);
  background-color: black;
  border-radius: 100%;

  z-index: 998;
  pointer-events: none;
}

.footer {
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--color--bg);
  border-top: 0.0625rem solid var(--color--primary);
}

#footer--home {
  position: fixed;
  bottom: 0;

  transform: translateY(100%);
  /* opacity: 0; */
  transition: all var(--transition--fast);

  z-index: 499;
}

.footer--centered {
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer__small {
  color: var(--color--primary);
  text-align: left;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-variation-settings: "THCK" 0, "grow" 0 !important;
}

.footer__small a {
  padding: 1rem 0rem 1rem 0rem;

  text-decoration: underline;
  text-decoration-thickness: 0.09em;
  text-underline-offset: 0.25em;

  color: var(--color--primary);
  /*   color: hsl(0, 0%, 50%); */

  transition: all var(--transition--hover);
}

.footer__small a:hover {
  color: hsl(0, 0%, 70%);
}

@media screen and (max-width: 850px) {
  .title__hgroup__header--interview:hover {
    color: var(--color--hover);
    transform: translateY(-10%);
  }

  #interview-close-btn {
    top: 1rem;
    right: 1rem;
  }

  .interview {
    padding-top: 2.9rem;
  }

  .interview__segment {
    grid-template-columns: 100%;
    padding-right: 2rem;
  }

  .interview__segment__column__p {
    min-width: initial;

    hyphens: none;
  }

  .interview__segment__column[data-person="?"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="jh"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="je"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="er"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="msb"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="rb"] {
    grid-column-start: 1;
  }

  .interview__segment__column[data-person="qj"] {
    grid-column-start: 1;
  }

  .interview__segment__column__img--container:hover {
    transform: rotate(0) scale(1) !important;
    z-index: 501;
  }
  .interview__segment__column__img--container[data-float="left"] {
    float: inline-start !important;
    margin-right: 2.7rem;
    margin-left: 0rem;
    transform-origin: right top;
  }

  .interview__segment__column__img--container[data-float="right"] {
    float: inline-end !important;
    margin-left: 2.7rem;
    margin-right: 0rem;
    transform-origin: left top;
  }

  .footer {
    flex-flow: column;
    /*     display: grid;
    grid-template-columns: repeat(2, 1fr); */
  }
}
